<div class="center jumbotron">
  <div class="top-logo">
  <h1>ORE NO EMOJI</h1>

  <h2>
    俺の絵文字をみろ
  </h2>
  </div>

<div class="icon-search"></div>
<input type=form id="form" placeholder="search" style="width: 250px;"/>

<!-- ここresultが帰ってきたときだけ表示にしたい -->
<ul class = "emojis" id="result">

</ul>

<hr>


<ul class = "emojis">
<% @emojis.each do |emoji| %>
  <li class = "emoji <%=emoji.name%>">
    <a href= <%= "/emojis/#{emoji.id}" %> >
    <div>
    <%= image_tag emoji.image.url %>
    </div>
    <div class = "name">
    <%= ":" + emoji.name + ":"%>
    </div>
    </a>

    <div class="btn-social-giza">
  <!--以下twitter-->
    <a href="<%= emoji.image.url %>" class="btn-social-giza-twitter" download="<%= emoji.name %>.png">
      <span class="fa-stack">
      <i class="fa fa-certificate fa-stack-2x"></i>
      <i class="fas fa-download fa-stack-1x"></i>
      </span>
    </a>

    </div>


  </li>
<% end %>
</ul>

<%= link_to "俺の絵文字を提案する", '/emojis/new', class: "btn btn-lg btn-primary" %>
</div>
