<div class="center jumbotron">
<h1>ORE no EMOJI</h1>

<h2>
  an unofficial* directory of the best custom slack emojis
</h2>

<div class="icon-search"></div>
<input type=form id="form" placeholder=":hogehoge:" style="width: 250px;"/>

<!-- ここresultが帰ってきたときだけ表示にしたい -->
<ul class = "emojis" id="result">

</ul>

<hr>


<ul class = "emojis">
<% @emojis.each do |emoji| %>
  <li class = "emoji <%=emoji.name%>">
    <a href= <%= "/emojis/#{emoji.id}" %> >
    <div>
    <%= image_tag emoji.image.url %>
    </div>
    <div class = "name">
    <%= ":" + emoji.name + ":"%>
    </div>
    </a>
    <div>
    <button type="button">
      <a href="<%= emoji.image.url %>" class="downloader" download="<%= emoji.name %>.jpg">download</a>
    </button>
    </div>

  </li>
<% end %>
</ul>

<%= link_to "俺の絵文字を提案する", '/emojis/new', class: "btn btn-lg btn-primary" %>
</div>
