<h1>Upload new emoji</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for :emoji, url: '/emojis/create'  do |f| %>
  <p><%=f.label "画像をアップロード" %>

  <div id="img_field" onClick="$('#file').click()" >
    <!--画像があるときは画像を表示する  -->
    <% if @emoji.image.url.present? %>
      <%= image_tag(@emoji.image.url) %>
      <%= @emoji.image.name %>　
    <% else %>
      <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
    <% end %>
  </div>

    <%= f.file_field :image,class: "image", style: "display:none;", id: "file" %></p>
  <% if @emoji.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@emoji.errors.count, "error") %>.
    </div>
    <ul>
    <% @emoji.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <p><%=f.label ":emoji_name:" %><br><%= f.text_field :name %></p>

  <div class="emoji-tags-field">
    <%= f.label "カテゴリー" %>
    <ul id="emoji-tags">
    </ul>
  </div>

  <p><%= f.submit value: '投稿' %></p>
<% end %>
  </div>
</div>
