<div class="center jumbotron">
<h1>ORE no EMOJI</h1>

<h2>
  an unofficial* directory of the best custom slack emojis
</h2>



<ul class = "emojis">
    <a href="<%= @emoji.image.url %>" class="downloader"  download = "<%= @emoji.name %>.jpg">
    <% unless @emoji.categories.blank? %>
      <ul>
        <% @emoji.categories.each do |category| %>
          <li>
            <%= link_to '#' + category.name,emojis_path(category_id:category.id) %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div>
    <%= image_tag @emoji.image.url %>
    </div>
    <div class = "name">
    <%= ":" + @emoji.name + ":"%>
    </div>
    </a>
</ul>

<%= link_to '編集', "/emojis/#{@emoji.id}/edit", method: :get %>　
<%= link_to('削除',"/emojis/#{@emoji.id}/destroy",{method:"post"})  %>
<br>
<%= link_to "俺の絵文字を提案する", '/emojis/new', class: "btn btn-lg btn-primary" %>
</div>
