<div class="center jumbotron">
  <div class="top-logo">
    <a href="/">
  <h1>ORE NO EMOJI</h1>

  <h2>
    俺の絵文字をみろ
  </h2>
    </a>
  </div>



<ul class = "emojis">
    <% unless @emoji.categories.blank? %>
      <ul class="tagit" id="show">
        <% @emoji.categories.each do |category| %>
          <li class="tagit-choice">
            <%= link_to '# ' + category.name,"/categories/#{category.id}"  %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <div>
    <%= image_tag @emoji.image.url %>
    </div>
    <div class = "name_big">
    <%= ":" + @emoji.name + ":"%>
    </div>

    <button type="button">
    <a href="<%= @emoji.image.url %>" class="downloader" download="<%= @emoji.name %>.jpg">download</a>
    </button>
</ul>

  <div class="edit-btn">
  <%= link_to '編集', "/emojis/#{@emoji.id}/edit", method: :get %>　
  <%# <%= link_to '削除',"/emojis/#{@emoji.id}/delete",method: :delete  %>
  </div>
<%= link_to "俺の絵文字を提案する", '/emojis/new', class: "btn btn-lg btn-primary" %>
</div>
