<% provide(:title, @category.name) %>
<div class="center jumbotron">

    <div class="top-logo">
      <a href="/">
        <h1>ORE no EMOJI</h1>

        <h2>
          俺の絵文字をみろ
        </h2>
      </a>
    </div>

<ul class = "categories">
    <div class = "name">
    <%=  @category.name %>
    </div>
</ul>

<ul class = "emojis">
<% @emojis.each do |emoji| %>
  <li class = "emoji <%=emoji.name%>">
    <a href= <%= "/emojis/#{emoji.id}" %> >
    <div>
    <%= image_tag emoji.image.url %>
    </div>
    <div class = "name">
    <%= ":" + emoji.name + ":"%>
    </div>
    </a>
    <div class="btn-social-giza">
    <a href="<%= emoji.image.url %>" class="btn-social-giza-twitter" download="<%= emoji.name %>.png">
      <span class="fa-stack">
      <i class="fa fa-certificate fa-stack-2x"></i>
      <i class="fas fa-download fa-stack-1x"></i>
      </span>
    </a>

    </div>

  </li>
<% end %>
</ul>

<hr>




<%= link_to "俺の絵文字を提案する", '/emojis/new', class: "btn btn-lg btn-primary" %>
</div>
